@CHARSET "UTF-8";

.create-active-title {
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    width: 250px;
    border-bottom: 2px solid #ce1126;
    text-align: center;
    margin-top: 10px;
}

.createActivity {
    margin-top: 30px;
    background-color: #eee;
    padding: 20px 5px;
}

.createActivity .create-activity-back {
    height: 30px;
    line-height: 30px;
}

.createActivity .create-activity-back .btn-primary {
    padding: 10px 30px;
    background-color: #ce1126;
    border: none;
}

.createActivity .create-activity-datail {
    list-style: none;
}

.createActivity .create-activity-datail li {
    height: 50px;
    padding: 10px 0;
}

.createActivity .create-activity-datail li strong {
    display: inline-block;
    width: 120px;
}

.createActivity .create-activity-datail li input[type=text],
.createActivity .create-activity-datail li input[type=date] {
    border: 1px solid #000;
    padding: 3px 5px;
    width: 240px;
}

.createActivity .create-activity-datail li .upload-theme-image {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #ce1126;
    color: #fff;
}

.createActivity .create-activity-datail li input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}

.createActivity .create-activity-datail li input[type=radio]:nth-child(3) {
    margin-left: 20px;
}

.createActivity .create-activity-datail li.create-activity-content {
    height: 330px;
    padding: 15px 0;
    position: relative;
}

.createActivity .create-activity-datail li.create-activity-content strong {
    position: absolute;
}

.createActivity .create-activity-datail li.create-activity-content textarea {
    display: inline-block;
    width: 400px;
    height: 300px;
    border: 1px solid #000;
    resize: none;
    margin-left: 120px;
}

.createActivity .create-activity-datail li .btn-primary {
    padding: 10px 30px;
    background-color: #ce1126;
    border: none;
    margin-left: 300px;
}

.datetimepicker {
    margin-left: -4px;
}