@media screen and (max-width: 992px) {
  .my-navbar .container {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  #my-navbar .my-fun-nav li {
    border-bottom: 2px solid #fff;
  }
  #my-navbar .pull-right {
    float: left!important;
  }
  .carousel-inner .item {
    width: 100%;
    height: 280px!important;
  }
}
* {
  margin: 0;
  padding: 0;
}
body .navbar-header .my-navbar-toggle {
  margin-top: 20px;
}
body .navbar-header .navbar-brand {
  color: #fff;
  font-size: 40px;
  font-style: italic;
  margin-right: 20px;
  height: 80px;
  line-height: 40px;
}
body .part-title {
  font-size: 40px;
}
body .my-navbar {
  /* opacity: 0.5;*/
  border-radius: 0;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  height: 81px;
  z-index: 20;
}
body .my-navbar #my-navbar {
  background-color: #222;
}
body .my-navbar #my-navbar .my-fun-nav li:hover {
  background-color: #275e97;
}
body .my-navbar #my-navbar .my-fun-nav li:hover a {
  color: #fff;
}
body .my-navbar #my-navbar a {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  height: 80px;
  line-height: 40px;
}
body .my-navbar #my-navbar a:hover {
  color: #275e97;
}
body .my-navbar #my-navbar .my-fun-nav li.active a {
  background-color: #275e97;
}
body .my-navbar #my-navbar .my-fun-nav li.active a:hover {
  color: #fff;
}
body .my-navbar #my-navbar .pull-right li {
  color: #fff;
  font-size: 16px;
}
body .my-navbar #my-navbar .pull-right li a {
  display: inline-block;
  padding-left: 3px;
  padding-right: 3px;
}
body .ajaxPage {
  width: 100%;
  height: auto;
}
body .ajaxPage .myCarousel {
  margin-top: 80px;
  width: 100%;
}
body .ajaxPage .myCarousel .carousel-indicators {
  bottom: 80px;
}
body .ajaxPage .myCarousel .carousel-indicators li {
  width: 30px;
  height: 5px;
  background-color: #000;
}
body .ajaxPage .myCarousel .carousel-indicators li.active {
  background-color: #fff;
}
body .ajaxPage .myCarousel .carousel-inner .item {
  width: 100%;
  height: 600px;
}
body .ajaxPage .myCarousel .carousel-inner .item img {
  width: 100%;
  height: 100%;
}
body .ajaxPage .myCarousel .carousel-inner .item .carousel-caption {
  font-size: 30px;
  margin-bottom: 80px;
}
body .ajaxPage #intro {
  padding: 50px 0;
  background-color: #fff;
  color: #666;
}
body .ajaxPage #intro .small {
  font-size: 20px;
}
body .ajaxPage #activity-recent {
  padding: 50px 0;
  background-color: #275e97;
  color: #eee;
}
body .ajaxPage #activity-recent .activity-no-item {
  padding: 10px;
}
body .ajaxPage #activity-recent .one-activity {
  margin-top: 40px;
  padding: 15px 10px;
  border: 1px solid #ededed;
  background-color: #fff;
  transition: all .8s;
}
body .ajaxPage #activity-recent .one-activity:hover {
	box-shadow: 0 0 2px 2px #fff;
}
body .ajaxPage #activity-recent .one-activity .col-xs-12 .activity-detail {
  margin-top: 20px;
}
body .ajaxPage #activity-recent .one-activity .activity-imgLeft {
  height: 220px;
}
body .ajaxPage #activity-recent .one-activity .activity-imgLeft .activity-img {
  position: relative;
  width: 100%;
  height: 100%;
}
body .ajaxPage #activity-recent .one-activity .activity-imgLeft .activity-img img {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
body .ajaxPage #activity-recent .one-activity .activity-imgLeft .activity-isOpen-mark {
  position: absolute;
  width: 68px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  background-color: #ce1126;
  color: #fff;
  left: -5px;
  top: 20px;
  -webkit-transform: rotate(-50deg);
  -moz-transform: rotate(-50deg);
  -ms-transform: rotate(-50deg);
  -o-transform: rotate(-50deg);
  transform: rotate(-50deg);
}
body .ajaxPage #activity-recent .one-activity .activity-imgLeft .activity-theme {
  position: absolute;
  width: 100%;
  height: 30px;
  overflow: hidden;
  line-height: 30px;
  background-color: #000;
  opacity: 0.5;
  text-align: center;
  bottom: 0;
  left: 0;
  color: #fff;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
body .ajaxPage #activity-recent .activity-detail .activity-time,
body .ajaxPage #activity-recent .activity-detail .activity-budget {
  font-size: 20px;
  color: #666;
}
body .ajaxPage #activity-recent .activity-detail .activity-explain {
  color: #666;
}
body .ajaxPage #members {
  padding: 50px 0;
  background-color: #fff;
  color: #666;
}
body .ajaxPage #members .container .col-md-6 {
  padding: 20px;
}
body .ajaxPage #members .small {
  font-size: 16px;
  opacity: 0.5;
}
body .ajaxPage #members .media-object {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  overflow: hidden;
}
body .ajaxPage #strategy {
  padding: 50px 0;
  background-color: #fff;
  color: #666;
}
body .ajaxPage #strategy .one-strategy {
  position: relative;
  border: 1px solid #f5f5f5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px;
  background-color: #efefef;
  transition: all .5s;
}
body .ajaxPage #strategy .one-strategy:hover {
	box-shadow: 0px 0px 3px 3px #eee;
    background-color: #fff;
}
body .ajaxPage #strategy .one-strategy .sharePhoto {
  position: absolute;
  width: 60px;
  height: 60px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  left: -10px;
  top: -10px;
}
body .ajaxPage #strategy .one-strategy .thumbnail img {
  width: 100%;
  height: 285px;
}
body .ajaxPage #strategy .one-strategy .caption p{
	font-size: 20px;
}
body .ajaxPage #strategy .one-strategy:nth-child(odd) {
  float: left;
}
body .ajaxPage #strategy .one-strategy:nth-child(even) {
  float: right;
}
body .ajaxPage #strategy .one-strategy:nth-child(even):after {
  display: block;
  content: '';
  visibility: hidden;
  height: 0;
  clear: both;
}
body .ajaxPage #travel-sharing-party {
  padding: 50px 0;
  background-color: #275e97;
  color: #eee;
}

body .ajaxPage #travel-sharing-party .one-sharing-party {
  margin: 40px 0 10px 3px;
}
body .ajaxPage #travel-sharing-party .one-sharing-party .article {
  border: 1px solid #ededed;
  background: #fff;
  padding: 10px 25px 10px 20px;
  position: relative;
  overflow: visible;
}
body .ajaxPage #travel-sharing-party .one-sharing-party .article:hover {
  border-color: #ccc;
  box-shadow: 0 0 3px #ccc;
}
body .ajaxPage #travel-sharing-party .one-sharing-party .article h4 {
  float: left;
  min-width: 460px;
}
body .ajaxPage #travel-sharing-party .one-sharing-party .article h4 a {
  color: #333;
  text-decoration: none;
}
body .ajaxPage #travel-sharing-party .one-sharing-party .article h4 a:hover {
  color: #5bc0de;
}
body .ajaxPage #travel-sharing-party .one-sharing-party .article .img {
  float: right;
  height: 110px;
  overflow: hidden;
  width: 160px;
  list-style: none;
}
body .ajaxPage #travel-sharing-party .one-sharing-party .article .img li a {
  color: #333;
  text-decoration: none;
}
body .ajaxPage #travel-sharing-party .one-sharing-party .article .img li a img {
  height: 110px;
  width: 160px;
  border: none;
  display: block;
  vertical-align: middle;
}
body .ajaxPage #travel-sharing-party .one-sharing-party .article .brief {
  float: left;
  max-width: 460px;
  color: #666;
  padding: 12px 10px 12px 0;
  line-height: 20px;
  zoom: 1;
}
body .ajaxPage #travel-sharing-party .one-sharing-party .article .brief a {
  display: inline-block;
  text-decoration: none;
}
body .ajaxPage #travel-sharing-party .one-sharing-party .article .info {
  list-style: none;
  max-width: 460px;
}
body .ajaxPage #travel-sharing-party .one-sharing-party .article .info li {
  min-width: 100px;
  padding: 3px 10px;
  float: left;
  color: #666;
}








body .ajaxPage #contact {
  padding: 50px 0;
  background-color: #fff;
  color: #666;
}
body .ajaxPage #contact .small {
  font-size: 20px;
}
body .ajaxPage #contact .barcode {
  width: 150px;
  height: 150px;
  border: 3px solid #fff;
}
body .ajaxPage #contact .barcode img {
  width: 100%;
  height: 100%;
}

body .ajaxPage #copyright {
  background-color: #000;
  height: 50px;
  line-height: 50px;
  color: rgb(51, 51, 51);
}

body .ajaxPage #copyright ul {
  list-style: none;
  hwight: 20px;
  line-height: 20px;
  margin-top: 15px;
}

body .ajaxPage #copyright ul li {
  display: inline-block;
  padding: 0 10px;
  border-left: 1px solid;
}

body .ajaxPage #copyright ul li a {
  color: rgb(51, 51, 51);
}

body .ajaxPage #copyright ul li a:hover {
  color: #ce1126;
}

body .ajaxPage #copyright ul li:first-child {
  border: none;
}

.text-length-limit {
  color: #666;
  text-indent: 2em;
}

.showMore {
	margin-top: 10px;
}
