* {
  margin: 0;
  padding: 0;
  color: #666;
}
body {
  background-color: #eee;
}
ul {
  list-style: none;
}

.time-comment .time {
  color: #808080;
  font-size: 12px;
}

.messageLeave {

  padding-bottom: 100px;
  color: #666;
}

.messageLeave a {
  color:#333;
  font-weight:bold;
  font-size: 16px;
}
.messageLeave a:hover {
  color:#ce1126;
}
body .mes .oneMes {
  margin-top: 40px;
  padding: 20px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
}
body .mes .oneMes:nth-child(1) {
  margin-top: 120px;
}
body .mes .oneMes .mes-main-title {
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
body .mes .oneMes .mes-main-title .media .media-left .main-img {
  display: block;
  width: 100px;
  height: 50px;
  padding-left: 25px;
}
body .mes .oneMes .mes-main-title .media .media-left {
  padding-right: 0;
}
body .mes .oneMes .mes-main-title .media .media-left .main-img .media-object {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
body .mes .oneMes .mes-main-title .media .media-left .mes-name {
  width: 106px;
  height: 25px;
  line-height: 25px;
  text-align: center;
}

body .mes .oneMes .mes-main-title .media .media-left .time-comment {

}
body .mes .oneMes .mes-main-title .mes-content {
  line-height: 1.4;
  padding-left: 25px;
}



body .mes .oneMes .mes-main-title .reply-box {
  padding: 0 25px;
}

body .mes .oneMes .mes-main-title .reply-box .input-box {
  width: 100%;
  margin: 0 auto;
}
body .mes .oneMes .mes-main-title .reply-box .about-comment {
  display: none;
}
body .mes .oneMes .mes-main-title .reply-box .about-comment .textArea-box {
  width: 100%;
  margin: 0 auto;
  height: 60px;
  resize: none;
  padding: 3px 1%;
  overflow-y: auto;
}
body .mes .oneMes .mes-main-title .reply-box .about-comment .publish {
  width: 80px;
  height: 30px;
  border: none;
  background-color: #275e97;
  color: #fff;
  border-radius: 3px;
  float: right;
}
body .mes .oneMes .mes-detail {
  margin-left: 20px;
  margin-top: 20px;
}
body .mes .oneMes .mes-detail .mes-one-reply {
  margin-top: 20px;
}
body .mes .oneMes .mes-detail .mes-one-reply .media .media-left .reply-img {
  display: block;
  width: 100px;
  height: 50px;
  padding: 0 25px;
}
body .mes .oneMes .mes-detail .mes-one-reply .media .media-left .reply-img .media-object {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
body .mes .oneMes .mes-detail .mes-one-reply .media .media-left .mes-name {
  width: 100px;
  height: 25px;
  line-height: 25px;
  text-align: center;
}
body .mes .oneMes .mes-detail .mes-one-reply  .mes-content {
  line-height: 1.4;
  padding-left: 25px;
}


.mes-name {
  margin-bottom: 5px;
}

