* {
  margin: 0;
  padding: 0;
}
.bg-box {
  width: 100%;
  background: url(../img/regist-bg.jpg) left top;
}
.bg-box .regist-box {
  position: absolute;
  width: 300px;
  height: 420px;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -210px;
  background: #fff;
  -webkit-box-shadow: 0 0 5px 5px #666666;
  -moz-box-shadow: 0 0 5px 5px #666666;
  box-shadow: 0 0 5px 5px #666666;
}
.bg-box .regist-box input {
  border: none;
  display: block;
  margin-left: 10px;
  width: 270px;
  height: 25px;
  padding: 3px 5px;
  margin-top: 20px;
  border: 1px solid #333;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.bg-box .regist-box .errorMsg-show {
	width: 270px;
	margin-top: 5px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-size: 14px;
	color: #ce1126;
}
.bg-box .regist-box .sure-regist {
  width: 280px;
  height: 30px;
  text-align: center;
  letter-spacing: 4px;
  background-color: #666666;
  color: #fff;
  font-weight: bold;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 30px auto;
  cursor: pointer;
}
.bg-box .regist-box .toLogin {
  width: 280px;
  height: 30px;
  line-height: 30px;
  margin: 0 auto;
  text-align: center;
}
.bg-box .regist-box .matetrip-logo {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 50%;
  margin-left: -50px;
  top: -130px;
}
.bg-box .regist-box .matetrip-logo img {
  width: 100%;
  height: 100%;
}
