.strategy {
  margin-top: 101px;
}

.btn-write {
  background-color: #5bc0de;
  color: #fff;
  border-color: #5bc0de;
}
.btn-write:focus, .btn-write:hover, .btn-write:active {
  background-color: #275e97;
  color: #fff;
}
.one-strategy-show {
  padding: 5px 10px;
  height: 210px;
  margin-top: 20px;
}

.one-strategy-show:hover {
  background-color: #eee;
  border-radius: 5px 5px 0 0;
  
}

.one-strategy-show .one-strategy-intro {
  position: relative;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.one-strategy-show .one-strategy-intro > a {
  position: absolute;
  display: block;
  width: 100%;
  height: 200px;
}

.one-strategy-show .one-strategy-intro > a .strategy-object {
  width:100%;
  height: 200px;
  border-radius: 5px 5px 0 0;
  position: absolute;
  left: 0;
  top: 0;
}

.one-strategy-show .one-strategy-intro .strategy-title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 25px;
  line-height: 25px;
  background-color: #000;
  opacity: 0.5;
  overflow: hidden;
  text-align: center;
}

.one-strategy-show .one-strategy-intro .strategy-title a {
  color: #fff;
}



