<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>ATG Commerce Reference Store</display-name>

    <context-param>
        <param-name>context-root</param-name>
        <param-value>us</param-value>
    </context-param>
   
    
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
   <!-- <error-page>
        <error-code>404</error-code>
        <location>/global/pageNotFound.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/global/serverError.jsp</location>
    </error-page>
    <error-page>
        <error-code>409</error-code>
        <location>/global/sessionExpired.jsp</location>
    </error-page>
	-->
	<filter>
	<filter-name>StrategyFilter</filter-name>	
	<filter-class>filter.StrategyFilter</filter-class>
	</filter> 
	
	<filter>
	<filter-name>ActivityDetailFilter</filter-name>	
	<filter-class>filter.ActivityDetailFilter</filter-class>
	</filter> 
	
	<filter>
	<filter-name>HomePageFilter</filter-name>	
	<filter-class>filter.HomePageFilter</filter-class>
	</filter>
	
	<filter>
	<filter-name>AccessControlFilter</filter-name>	
	<filter-class>filter.AccessControlFilter</filter-class>
	<init-param>
		<param-name>adminPhone</param-name>
		<param-value>123</param-value>
	</init-param>
	
	</filter>
	
	<filter-mapping>
		<filter-name>AccessControlFilter</filter-name>
		<url-pattern>/pages/createActivity.jsp</url-pattern>
		<url-pattern>/pages/createSharing.jsp</url-pattern>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>HomePageFilter</filter-name>
		<url-pattern>/pages/index.jsp</url-pattern>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>StrategyFilter</filter-name>
		<url-pattern>/pages/strategy.jsp</url-pattern>
		<url-pattern>/pages/singleStrategy.jsp</url-pattern>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>ActivityDetailFilter</filter-name>
		<url-pattern>/pages/activityDetail.jsp</url-pattern>
		<url-pattern>/pages/sharingDetail.jsp</url-pattern>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	
	
	
	
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
	</servlet>
	
  <servlet>
    <servlet-name>RegsistServlet</servlet-name>
    <servlet-class>servlets.RegsistServlet</servlet-class>
	</servlet>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlets.Logout</servlet-class>
	</servlet>
	
	<servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>
      servlets.UploadServlet
    </servlet-class> 
    <init-param>
    	<param-name>uploadPath</param-name>
    	<param-value>C:\\Users\\Administrator.USER-20140816TV\\Desktop\\workdemo\\apache-tomcat-6.0.39\\webapps\\store</param-value>
    </init-param>
	</servlet>
	
	
	<servlet>
    <servlet-name>ActivityServlet</servlet-name>
    <servlet-class>
      servlets.ActivityServlet
    </servlet-class> 
    <init-param>
    	<param-name>uploadPath</param-name>
    	<param-value>C:\\Users\\Administrator.USER-20140816TV\\Desktop\\workdemo\\apache-tomcat-6.0.39\\webapps\\store</param-value>
    </init-param>
	</servlet>
	
 <servlet-mapping>
    <servlet-name>ActivityServlet</servlet-name>
    <url-pattern>/store/ActivityServlet</url-pattern>
    <url-pattern>/ActivityServlet</url-pattern>
  </servlet-mapping>
  
	<servlet>
    <servlet-name>ShareUploadServlet</servlet-name>
    <servlet-class>
      servlets.ShareUploadServlet
    </servlet-class> 
    <init-param>
    	<param-name>uploadPath</param-name>
    	<param-value>C:\\Users\\Administrator.USER-20140816TV\\Desktop\\workdemo\\apache-tomcat-6.0.39\\webapps\\store</param-value>
    </init-param>
	</servlet>
	
 <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/store/UploadServlet</url-pattern>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  
 <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logoutS</url-pattern>
  </servlet-mapping>
 <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginS</url-pattern>
  </servlet-mapping>
 <servlet-mapping>
    <servlet-name>RegsistServlet</servlet-name>
    <url-pattern>/registS</url-pattern>
  </servlet-mapping>
  
  
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
            <scripting-invalid>true</scripting-invalid>
            <include-prelude>/prelude.jspf</include-prelude>
        </jsp-property-group>
    </jsp-config>
</web-app>
