<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>ATG Commerce Reference Store</display-name>

    <context-param>
        <param-name>context-root</param-name>
        <param-value>us</param-value>
    </context-param>
   
    
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
   <!-- <error-page>
        <error-code>404</error-code>
        <location>/global/pageNotFound.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/global/serverError.jsp</location>
    </error-page>
    <error-page>
        <error-code>409</error-code>
        <location>/global/sessionExpired.jsp</location>
    </error-page>
	-->
	
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>
      servlets.UploadServlet
    </servlet-class> 
	</servlet> 
	
 <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>UploadServlet</url-pattern>
  </servlet-mapping>
  
  
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
            <scripting-invalid>true</scripting-invalid>
            <include-prelude>/prelude.jspf</include-prelude>
        </jsp-property-group>
    </jsp-config>
</web-app>
